$Poppins: "Poppins", sans-serif;

$blackFont: #292a31;
$contentText:#5d5f6c;
$backgroundGrey:#f6f7fb;
$m1Color:#30d270;
$greyOne:#5a5c6a;
$listStyleColor: #181211;

$textOne:#c6c6d1;
$textTwo:#606167;

// Responsive Variables
$xxx-layout: "only screen and (min-width: 1536px) and (max-width: 1600px)";
$xx-layout: "only screen and (min-width: 1367px) and (max-width: 1535px)";
$xl-layout: "only screen and (min-width: 1201px) and (max-width: 1366px)";
$mg-layout: "only screen and (min-width: 993px) and (max-width: 1200px)";
$md-layout: "only screen and (min-width: 768px) and (max-width: 992px)";

$sm-layout: "only screen and (min-width: 479px) and (max-width: 767px)";

//mobile
$xs-layout: "only screen and (max-width: 767px)";
$mobiles: "only screen and (max-width: 478px)";
$xxs-layout: "only screen and (min-width: 376px) and (max-width: 478px)";
$xsm-layout: "only screen and (min-width: 321px) and (max-width: 376px)";
$xxxs-layout: "only screen and (max-width: 321px)";


//big screens
$ever-layout: "only screen and (min-width: 1600px)";
$ever2-layout: "only screen and (min-width: 2000px)";